    <div class="container">

    <% if @user.errors.any? %> 
  <%= @user.errors.count %>件のerrorが発生しました 
  <% @user.errors.full_messages.each do |message| %> 
  <%= message %> 
   <% end %> 
   <% end %> 


      	<h2>User info</h2>

<%= form_for(@user) do |f| %>
 
  <h4>Title</h4>
  <%= f.text_field :name %>
 
  <h4>Opinion</h4>
  <%= f.text_field :introduction %>

<%= f.attachment_field :profile_image %>
  <%= f.submit 'Update User' %>
 
<% end %>
      </div>
    </div>

    <footer>
  <div class="container">
  	<div class="row">
    	<div class="col-xs-3 col-xs-offset-9">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>


</body> 